<h2>January</h2>
<table class="calendar">
  <tr class="calendar-header">
    <td class="calendar-detail"><label></label></td>
    <td class="calendar-cell" *ngFor="#date of week">{{date.day}}</td>
    <!-- 
    <td class="calendar-cell"><label>14</label></td>
    <td class="calendar-cell"><label>15</label></td>
    <td class="calendar-cell"><label>16</label></td>
    <td class="calendar-cell todays-date"><label>17</label></td>
    <td class="calendar-cell"><label>18</label></td>
    <td class="calendar-cell"><label>19</label></td>
    <td class="calendar-cell"><label>20</label></td> -->
  </tr>
  <tr class="calendar-body">
    <td class="calendar-detail">pomodoro of personal project</td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
  </tr>
  <tr class="calendar-body">
    <td class="calendar-detail">10 minutes reflection</td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
    <td class="calendar-cell calendar-goal" onclick="toggleGoalClick(event)"></td>
  </tr>
</table>