<h2>{{dateLabel}}</h2>
<table class="calendar" (window:resize)="onResize($event)">
  <tr class="calendar-header">
    <td class="calendar-detail calendar-icon" (click)="goToPreviousDates()" align="right"><span class="glyphicon glyphicon-menu-left"></span></td>
    <td class="calendar-cell black-cell" *ngFor="#date of dates">{{date.getDate()}}</td>
    <td class="calendar-icon" (click)="goToNextDates()"><span class="glyphicon glyphicon-menu-right"></span></td>
  </tr>
  <tr class="calendar-body" *ngFor="#goal of goals">
    <td class="calendar-detail black-cell">{{goal.name}}</td>
    <td class="calendar-cell calendar-goal" *ngFor="#status of goal.status" (click)="toggleGoalClick(goal, status)"><div *ngIf="status.isComplete === true" class="completed">&#10003;</div></td>
  </tr>
</table>