<div class="row">
  <div>
    <div class="input-group">
      <input type="text" type='text' 
             placeholder="Whats your goal?" 
             [(ngModel)]="goalName"  
             (keyup)="onKeyUp($event)"
             class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default btn-primary" 
                (click)="createGoal(goalName.value)"
                [disabled]="goalName === ''"
                type="button">+</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->	
</div>