<notify-bar
	[title]="notifyTitle"
	[message]="notifyMsg"
	[isVisible]="displayNotification">
</notify-bar>
<h1>Register</h1>
<form #f='ngForm' (ngSubmit)="register(f.value)">
  <div class="form-group">
    <label for="email">email</label>
    <input ngControl="email" id="email" type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input ngControl="password" id="password" type="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-default">Sign up</button>
</form>