<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input [(ngModel)]="task.isComplete" (click)="updateComplete($event)" type="checkbox">
      </span>
      <input type="text" [(ngModel)]="task.name" (keyup)="update()" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default btn-danger" (click)="delete()" type="button">-</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->	

</div>

