.calendar{
    border-spacing: 0px;
}

.calendar-cell{
  display: table-cell;
  height: 50px;
  text-align: center;
}

.calendar-goal{
    border: white 1px solid;
    width: 80px;
    height: 80px;
    background-color: #ddd;
    transition: background-color 0.4s ease;
    color: #fff;
    font-size: 48px;
}

.calendar-detail{
    border-right: 2px solid #777;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    width: 150px;
    padding: 10px !important;
}

.calendar-goal:hover{
    background-color: #b3ffb3; /* #00cc00 */
}

.accomplished{
    background-color: #00cc00 !important;
}

.todays-date label{
    background-color: #000;
    color: #fff;
    border-radius: 45px;
    padding: 12px;
}

.black-cell{
    padding: 5px;
    background-color: #333;
    color: #b3ffb3;
}

goal-calendar{
    display: block;
    padding: 40px 0px;
}