html,
body,
ul,
ol {
   margin: 0;
  padding: 0;
}

// Bootstrap reset

.btn{
	font-size: 18px;
	border-radius: 4px;
}

.form-control{
	height: auto;
	font-size: 18px;
}

table{
	border-spacing: 2px; 
	border-collapse: separate;
}