@import '_reset';
@import '_colorPalette';
@import '_app.component';
@import '_goal-list.component';
@import '_calendar.component';
@import '_note.component';

html,
body {
    width:100%;
    height:100%;
}

body{
	background: url(imgs/furley_bg.png);
	overflow-x: hidden;
}

input[type=checkbox] {
	transform: scale(2);
	-webkit-transform: scale(2);
}